= simple_form_for(@party, html: { class: 'form_horizontal'}) do |f|
  = f.collection_select :categorie_id, Categorie.all, :id, :name, {promt: "Sacrée soirée Jean Pierre !!"}
  = f.input :titre, label: "Theme de la soirée" 
  = f.input :prix, label: "Prix" 
  = f.input :date, label:  "Date" 
  = f.input :heure,  label: "Heure" 
  = f.input :description, label: "Description" 
  = f.input :nombreparticipants, label: "Nombre de participants" 
  %br/
  = f.button :submit 
