= simple_form_for(@party, html: { class: 'form-horizontal'}) do |f|
  = f.input :titre, label: "Theme de la soirée" 
  = f.input :categorie, label: "Catégorie" 
  = f.input :prix, label: "Prix" 
  = f.input :date, label:  "Date" 
  / = f.input :datetime,  label: "Heure" 
  = f.input :description, label: "Description" 
  = f.input :nombreparticipants, label: "Nombre de participants" 
  %br/
  = f.button :submit 



