%h1= @party.titre
/ %p= @party.categorie  attnt cela affiche un lien. nous voudrons insérer une image de catégorie
%p= @party.prix 
%p= @party.date
%p= @party.heure
%p= @party.description

= link_to "Accueil", root_path
= link_to "Editer", edit_party_path(@party)
= link_to "Supprimer", party_path(@party), method:  :delete, data: { confirm: "Voulez-vous vraiment supprimer??"}